@font-face {
    font-family:InterSemiBold;
    src: url('./assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family:InterRegular;
    src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family:GlutenSemiBold;
    src: url('./assets/fonts/Gluten-SemiBold.ttf');
}

@font-face {
    font-family:GlutenRegular;
    src: url('./assets/fonts/Gluten-Regular.ttf');
}

body{
    font-family: InterRegular;
}


.accordion-body,
.accordion-header,
.accordion button,
.accordion-item,
.accordion,
.card
{
    background-color: #F1ECE1 !important;
    border: none !important;
    padding: 0 !important;
   
    
}

.accordion-header{
    padding: 1rem 0 !important;
}

.accordion-header{
    border-bottom: 2px solid grey !important;
    
}

.accordion button:focus{
    box-shadow: none;
    outline: none;
}

.accordion{
   --bs-accordion-border-width: none !important;
}

.btn:hover{
    background: #635745;
    color: #F7F7F6;
}

.btn{
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}